@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

<FluentStack Orientation="Orientation.Horizontal" Width="18%">
    <div style="background: var(--neutral-layer-3); display: flex; padding: 10px;">
        <FluentNavMenu @bind-Expanded="@Expanded" Width="250" Collapsible="true" CollapsedChildNavigation="@EnableCollapsedChildNavigation" Title="Bootstrap">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Tooltip="Home default page" Href="/home">Home</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Calculator())" Tooltip="Counter" Href="counter">Counter</FluentNavLink>
            <FluentNavGroup Title="Bootstrap section 2" Tooltip="Bootstrap Section 2" Icon="@(new Icons.Regular.Size24.EarthLeaf())" >
                <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafOne())" Tooltip="Bootstrap container" Href="bootstrap/2/container">Container</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.HandPoint())" Disabled="false" Tooltip="Bootstrap breakpoints" Href="bootstrap/2/breakPoints">
                    Break points</FluentNavLink>
                <FluentNavGroup Title="Grid System" Icon="@(new Icons.Regular.Size24.SlideGrid())" Tooltip="Bootstrap grid system" Disabled="false">
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.Grid())" Href="bootstrap/2/gridSystem" Tooltip="Gris system exmple 1">Exemple 1</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.Grid())" Href="bootstrap/2/gridSystem/2" Tooltip="Grid system exemple 2">Exemple 2</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.NotebookQuestionMark())" Tooltip="Bootstrap typography" Href="bootstrap/2/typography">Typography</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Form())" Tooltip="Bootstrap formulaire" Href="bootstrap/2/formulaire">Formulaire</FluentNavLink>
                <FluentNavGroup Title="Buttons" Tooltip="Bootstrap button & group buttons" Icon="@(new Icons.Regular.Size20.Button())">
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.ControlButton())" Tooltip="Bootstrap button" Href="bootstrap/2/button">Button</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.ControlButton())" Tooltip="Bootstrap group buttons" Href="bootstrap/2/button/2">Group Buttons</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Image())" Tooltip="Bootstrap image" Href="bootstrap/2/image">Image</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Icons())" Tooltip="Bootstrap icônes" Href="bootstrap/2/icon">Icônes</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    </div>
</FluentStack>

@code
{
    bool Expanded = true;
    bool EnableCollapsedChildNavigation = true;
}