@page "/bootstrap"
@page "/bootstrap/{Section:int}/{Partie}"
@page "/bootstrap/{Section:int}/{Partie}/{Exemple:int}"

@inherits BootstrapBase

@rendermode InteractiveAuto


@if (Section == 2 && Partie == "container" && Exemple is null)
{
    <PageTitle>Container</PageTitle>
    <!-- class="container" largeur fixe par rapport au breakpoints du viewport -->
    <!-- class="container-fluid" largeur 100% du viewport -->

    <div class="container" style="background-color: aquamarine">
        <h1>Ma page Bootstrap</h1>
        <p>Mon premier paragraphe Bootstrap</p>
    </div>
}

@if( Section == 2 && Partie == "breakPoints" && Exemple is null )
{
    <PageTitle>Break points</PageTitle>
    <!--
            Super petit <576px  Petit ≥576px    Moyen ≥768px    Grand ≥992px    X - Grand ≥1200px   XX - Grand ≥1400px
.container              100 %   540px           720px           960px           1140px              1320px
.container - sm         100 %   540px           720px           960px           1140px              1320px
.container - md         100 %   100 %           720px           960px           1140px              1320px
.container - lg         100 %   100 %           100 %           960px           1140px              1320px
.container - xl         100 %   100 %           100 %           100 %           1140px              1320px
.container - xxl        100 %   100 %           100 %           100 %           100 %               1320px
.container - fluid      100 %   100 %           100 %           100 %           100 %               100 %

-->

    <div class="container-md" style="background-color: aquamarine">
        <h1>Ma page Bootstrap</h1>
        <p>Mon premier paragraphe Bootstrap</p>
    </div>
}

@if( Section == 2 && Partie == "gridSystem" && Exemple is null )
{
    <PageTitle>Grid System</PageTitle>

    <div class="container">
        <div class="row">

            <!-- class="col-lg-6" on prend la class colonne dont la surface est divivée par 12 -->
            <!-- ici on prend 6 et au col-lg à partir de lg >= 992px les 2 blocks seront côte à côte -->
            <div id="block1" class="col-lg-6" style="border: 1px solid chocolate">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block2" class="col-lg-6" style="border: 1px solid chocolate">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
        </div>
    </div>
    
}
else if (Section == 2 && Partie == "gridSystem" && Exemple == 2 )
{
    <PageTitle>Grid System Exemple 2</PageTitle>

    <div class="container">
        <div class="row">

            <!-- pour tous les blocks supérieurs à 768 px environ tablette on prend 2 élements sur la même ligne  -->
            <!-- en même on veut sur les grand écran de plus de 992 px 3 colonnes sur la même ligne -->
            <!-- en même on veut sur les grand écran de plus de 1140 px 4 colonnes sur la même ligne -->
            <div id="block1" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block2" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block3" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block4" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block5" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block6" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block7" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block8" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block9" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block10" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block11" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
            <div id="block12" class="col-md-6  col-lg-4 col-xl-3" style="border: 1px solid DarkMagenta">
                <h1>Ma page</h1>
                <p>Mon premier paragraphe</p>
            </div>
        </div>
    </div>
}

@if (Section == 2 && Partie == "typography" && Exemple is null)
{
    <!-- voir documentation bootstrap https://bootstrap21.org/fr/docs/5.2/content/typography/ 
        pour voir les autres typo qui existent
    -->
    <div class="container-fluid">
        <div class="row">
            <p>Voici un paragraphe</p>
            <h1>h1. Bootstrap heading</h1>
            <h2>h2. Bootstrap heading</h2>
            <h3>h3. Bootstrap heading</h3>
            <h4>h4. Bootstrap heading</h4>
            <h5>h5. Bootstrap heading</h5>
            <h6>h6. Bootstrap heading</h6>

            <!-- mettre en gris clair une partie du texte et en plus petit -->
            <h3>
                Fancy display heading
                <small class="text-muted">With faded secondary text</small>
            </h3>

            <!-- blockquote && text center -->
            <blockquote class="blockquote text-center">
                <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
        </div>
    </div>
}

@if (Section == 2 && Partie == "formulaire" && Exemple is null)
{
    <EditForm Model="Login" OnInvalidSubmit="Validate">
        <DataAnnotationsValidator />
        <div class="form-floating mb-3">
            
            <InputText @bind-Value="Login.LoginEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <small>
                <ValidationMessage For="()=>Login.LoginEmail"/>
            </small>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <!-- pour avoir le text plus petit -sm -->
            <InputText @bind-Value="Login.Password" type="password" class="form-control form-control-sm" id="exampleInputPassword1" />
            <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters, numbers and special characters, and must not contain spaces or emoji.
            </div>
            <small>
                <ValidationMessage For="() => Login.Password" />
            </small>
        </div>
        <!-- textArea -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <!-- class="form-control-lg" pour agrandir le input avec -lg  -->
            <InputTextArea  @bind-Value="Login.TextArea" class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="3"/>
            <small>
                <ValidationMessage For="()=> Login.TextArea"/>
            </small>
        </div>

        <!-- check box -->
        <div class="form-check">
            <InputCheckbox @bind-Value="Login.CheckOption" type="checbox" class="form-check-input" id="flexCheckoptions" />
            <label class="form-check-label" for="flexCheckoptions">
                Options checkbox
            </label>
        </div>
        <div class="form-check">
            <InputCheckbox @bind-Value="Login.CheckView" type="checbox" class="form-check-input" id="flexCheckView" />
            <label class="form-check-label" for="flexCheckView">
                View checkbox
            </label>
        </div>
        <!-- radio button -->
        <InputRadioGroup @bind-Value="Login.Nickname" Name="nickname_prenom">
            <p>Choisir son nickname</p>
            @foreach (var name in (Prenom[])Enum.GetValues(typeof(Prenom)))
            {
                <div class="form-check">
                    <InputRadio Value="name" id="@name" />
                    <label class="form-check-label" for="@name">
                        @name.ToString()
                    </label>
                </div>
            }
        </InputRadioGroup>

        <!-- liste déroulante <select  -->
        <!-- class="form-select form-select-lg mb-3" rajoute mb-3 pour faire de la marge et form-select-lg pour l'agrandir par rapport à la taille par défaut -->
        <InputSelect @bind-Value="Login.Selection" class="form-select form-select-lg mb-3" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </InputSelect>
        <div class="mb-3 form-check">
            <InputCheckbox @bind-Value="Login.CheckMe" type="checkbox" class="form-check-input" id="exampleCheck1"/>
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <!-- input Range -->
        <label for="customRange" class="form-label">Example range</label>
        <input type="range" min="@RangeMinMax.Min" max="@RangeMinMax.Max" step="1" 
        @bind-value="Login.Range" @bind-value:event="oninput"
        class="form-range" id="customRange">
        <p>@Login.Range</p>


        <!-- button type submit -->
        <button type="submit" class="btn btn-secondary">Submit</button>
    </EditForm>
}

@if (Section == 2 && Partie == "button" && Exemple is null) {
    <BootstrapButton></BootstrapButton>
}

@if (Section == 2 && Partie == "button" && Exemple == 2)
{
    <BootstrapGroupButton></BootstrapGroupButton>
}